* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root 
{
    --lavender: #eadcf1;
    --purple-1: #9b50c8;
    --purple-2: #7c4465;
    --purple-3: #4c2351;
    --brown-1: #4f3022;
    --brown-2: #89614d;
    --brown-3: #f2d0ba;
    --brown-4: #FFF3DC;

}


html {
    scroll-behavior: smooth;
    font-size: 16px;
}
@font-face
{
    font-family: "headerfont";
    src: url("fonts/Momentz.otf") format("opentype");
}
@font-face {
    font-family: "bodyfont";
    src: url("fonts/Sophiecomic-Regular.ttf") format("truetype");
}
body {
    
    background-color: #fefeff;
    font-family: "bodyfont", sans-serif;
    font-size: 1.25rem;
}

nav {
    margin:0;
    padding:0;
    height: 3.75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.3125rem;
    background-color: var(--purple-3);
    
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* gap: 2rem; */
}

nav a{
    text-decoration: none;
    color: var(--brown-4);
    display: flex;
    align-items: center;
    padding: 1.5rem;
    transition: ease 0.3s
    
}
nav a:hover{
    background-color: var(--purple-1);
}

nav svg {
    color: var(--brown-4);
}

#sidebar-active{
    display:none;
}

.sidebar-open, .sidebar-close {
    display:none;
}

@media(max-width: 530px) {

    nav {
        justify-content: flex-end;
        padding-right: .5rem;
    }

    .links-container {
        flex-direction: column;
        
    
        align-items: flex-start; 

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 200px;
        height: 100vh; 
        background-color: var(--purple-3);
        transition: ease-in-out 0.65s; 
    }

    .sidebar-close {
        display: block;
        padding: 1.5rem;
        cursor: pointer;
        color: var(--brown-4);
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 1.5rem 2rem;
        justify-content: flex-start; 
    }

    .sidebar-open {
        display: block;
        cursor: pointer;
        color: var(--brown-4);
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }
    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position:fixed;
        top:0;
        left:0;
        z-index:9;
    }
}
